# build
dist/

# modules
node_modules/
yarn.lock

# temp files
tmp

# env variables
.env

# misc
.DS_Store
.vscode/

# test
wallaby.conf.js

# other
README.md
docs/
.eslintignore
.eslinrc.js
.gitattributes
.npmrc
